<!--Criando lista de links para navegar no projeto utilizando Helper-->
<ul>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
    <li>
        <%= link_to "Preço das Moedas", price_index_path %>
    </li>
</ul>